body{
    background-image: url("https://i.ytimg.com/vi/DgtXWjd3H5s/maxresdefault.jpg");
    background-size: cover;
    }
#quiz{
    color: white;
    
    }
.conteudo{
    
    background-color:white;
    padding-top: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 5px;    
    padding-bottom: 20px; 
    }
    @media(max-width:600px)
    {
        .conteudo{
            width: 100%;
        }
    }

ul{
    font-size: 18px;
    list-style-type: none;
    text-align: left;
    padding-right: auto;
    padding-left: 20%;
    display: none;
  }
#buton{
      border-color: purple;
      border-width: 3px;        
    }
button:hover{
      background-color:rgb(209, 103, 209);
      border-radius: 50%;
      color: white;          
    }